NewTests/Service References/ServiceReference1/ServiceBpm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.158.53.231:5200/1/ServiceModel/ServiceBpm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ishonch" />
  <xs:import schemaLocation="http://94.158.53.231:5200/1/ServiceModel/ServiceBpm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetCalculationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ishonch" minOccurs="0" name="obj" nillable="true" type="q1:CostCalculationObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculationServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCalculationServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q2:guid" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ishonch" minOccurs="0" name="obj" nillable="true" type="q3:CostCalculationObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestService2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>