NewTests/Service References/TestServiceBPM/TestServiceBpm1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://94.158.53.231:5200/1/ServiceModel/TestServiceBpm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ishonch" />
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ishonch" minOccurs="0" name="obj" nillable="true" type="q1:CostCalculationObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ishonch" minOccurs="0" name="obj" nillable="true" type="q2:CostCalculationObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestService2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>