NewTests/Service References/TestServiceBPM/TestServiceBpm1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestService2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>